<h1>Hello World</h1>
<p>Man, getting the all the gems working for this lab was a PITA. The bundler version was too new. Then sqlite wouldn't load. Why isn't there a lesson (or two, or three) that help us understand how to quickly work through these gem dependency issues?</p>
